[Unit]
Description=minecraft server
After=network.target

[Service]
Type=forking
User=minecraft
WorkingDirectory=/home/minecraft
ExecStart=/usr/bin/screen -dmS minecraft java -Xms{{ minecraft_min_ram }}G -Xmx{{ minecraft_max_ram }}G -XX:+UseG1GC -server -jar /home/minecraft/minecraft_server.jar nogui
ExecStop=/usr/bin/screen -S minecraft -X eval 'stuff "/stop\015"'
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
Alias=minecraft.service
